/* package box */
.package-container {
  max-width: 800px;
  margin: auto;
  font-family: Arial, sans-serif;
}
/* Header Tabs */
.package-header {
  display: flex;
  justify-content: space-between;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}
.package-tab {
  flex: 1;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  color: #777;
  cursor: pointer;
  transition: all 0.3s;
}
.package-tab.active {
  color: #1dbf73;
  border-bottom: 3px solid #1dbf73;
}

/* package */
.package-box {
  border: 1px solid #ddd;
  padding: 20px;
  background: #fff;
  text-align: center;
  border-radius: 5px;
}
.package-box p  {
    white-space: nowrap;
}
.package-box h3 {
  display: flex;
  justify-content: space-between; 
  font-weight: bold;
  align-items: center;
  width: 100%; /
}
.package-box ul {
  list-style: none;
  padding: 0;
}
.package-box li {
  display: flex;
  align-items: center;
  gap: 8px; 
  font-size: 16px;
}

.package-box li i {
  color:#DEDEDE ; 
  font-size: 18px;
}

.package-box li:nth-child(2) i, 
.package-box li:nth-child(4) i,
.package-box li:nth-child(5) i {
  color: #1DBF72; 
}
.package-box li:nth-child(1) i {
  color:#333333;
}

.package-box li:first-child {
  color: #000000; 
  font-weight: bold;
}
.package-box li:not(:first-child) {
   color: #B2B3B6 ;
   font-weight: bold;
}
.package-box p:last-child {
  color: #1dbf73; 
  padding-top: 20px;
  cursor: pointer;
}

.package-box p:last-child:hover {
  text-decoration: none;
}

/* Danh sách tính năng */
.package-features {
  list-style: none;
  padding: 0;
  text-align: left;
}

.package-features li {
  font-size: 14px;
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.package-features strong {
  font-weight: bold;
}

.check-icon {
  color: #1dbf73;
  margin-right: 8px;
}

.revision-icon {
  margin-left: 10px;
  color: #555;
}
/* btn đặt hàng */
.order-btn {
  width: 100%;
  background: #1dbf73;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}
.order-btn:hover {
  background: #17a864;
}

/* Liên kết so sánh */
.compare-packages {
  display: block;
  margin-top: 10px;
  color: #0073e6;
  font-size: 14px;
  text-decoration: none;
}
.compare-packages:hover {
  text-decoration: underline;
}
.box-btn {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  background-color: #F5F5F5;
  margin-top: 20px;
}

.box-btn p {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.box-btn button {
  border: 1px solid #333;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.box-btn button:hover {
  background: #f7f7f7;
}
